<table className="status-table">
  <thead className="status-table__header">
    <th>status</th>
    <th>progress</th>
    <th>user</th>
    <th>request date</th>
  </thead>
  <tbody>
    {{#each model as |row|}}
      {{status-row transfer=row}}
    {{/each}}
  </tbody>
</table>
